.col-md-3#doc-sidebar
  %ul.nav.nav-pills.nav-stacked.affix{style: "width: 200px"}
    %li
      %a{href: "#jianjie"}
        黑枸杞简介
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#qubie"}
        黑枸杞与红枸杞的区别
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#gongxiao"}
        黑枸杞的功效与作用 
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#jiazhi"}
        黑枸杞营养价值
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#chi"}
        黑枸杞怎么吃
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#jiage"}
        百香果多少钱一斤
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#zi"}
        黑枸杞泡水的颜色
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#shihe"}
        黑枸杞不适合什么人喝
        %span.glyphicon.glyphicon-chevron-right.pull-right
