.col-md-3#doc-sidebar
  %ul.nav.nav-pills.nav-stacked.affix{style: "width: 200px"}
    %li
      %a{href: "#jianjie"}
        百香果鸡蛋果简介
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#qubie"}
        鸡蛋果与百香果的区别
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#gongxiao"}
        百香果的功效与作用 
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#jiazhi"}
        百香果的营养价值
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#jiage"}
        百香果多少钱一斤
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#zi"}
        百香果的籽可以吃吗
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#baocun"}
        百香果怎么保存
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#jige"}
        百香果一天吃几个最好
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#yunfu"}
        孕妇能吃百香果吗
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#baobao"}
        宝宝能吃百香果吗
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#paoshui"}
        百香果泡水的正确方法
        %span.glyphicon.glyphicon-chevron-right.pull-right
    %li
      %a{href: "#bianxian"}
        半场边线图解
        %span.glyphicon.glyphicon-chevron-right.pull-right
