- title '黑枸杞_野生黑果枸杞【功效/作用/禁忌/价格/真假】'
- keywords '枸杞,黑枸杞,野生黑枸杞,黑果枸杞,黑枸杞的功效与作用,黑枸杞泡水,黑枸杞就是一个骗局,黑枸杞和红枸杞的区别,黑枸杞多少钱一斤'
- head_desc '黑枸杞，滋补佳品，富含丰富的营养物质，泡水喝非常的健康。本站为大家提供黑枸杞(野生黑果枸杞)大家关注问题的解答：黑枸杞和红枸杞的区别？黑枸杞的功效与作用？黑枸杞多少钱一斤？黑枸杞泡水的颜色？等等问题。有关黑枸杞的各种信息查询，请看www.iheigouqi.top'

.container
  .row
    = render partial: "heigouqi_left"
    .col-md-9#guize_content
      %section#jianjie
        %h1.page-header.hide 黑枸杞 - 野生黑果枸杞
        %h2.page-header 黑枸杞简介
        %p 
          黑枸杞即黑果枸杞，黑果枸杞蒙名为“乔诺英—哈尔马格”、藏药名“旁玛”，属于茄科枸杞属。为多棘刺灌木，多分枝，枝条坚硬，常呈之字形弯曲，枝条白色。
          %br
          黑果枸杞主要分布于中国青海、宁夏、新疆、甘肃、陕西等地及欧洲中亚。
        %img.img-responsive{src: "https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D235/sign=f82935539ecad1c8d4bbfb244a3f67c4/962bd40735fae6cdb3ee8e1d04b30f2442a70f77.jpg", alt: "野生黑果枸杞,黑枸杞"}
      %section#qubie
        %h2.page-header 黑枸杞与红枸杞的区别
        %p
          1.口味:红枸杞要比黑枸杞好吃，尝起来更香甜，口感更好。
          %br
          2.成分:黑果枸杞所含维生素和脂肪远高于红果枸杞，并且富含特有的原花青素OPC，原花青素是抗衰老的关键成分，能很好的抵抗衰老，并起到美容养颜的作用。
          %br
          3.功效:枸杞都有提高机体免疫力的作用，可以补气强精，滋补肝肾、止消渴、改善睡眠、暖身体、抗肿瘤的功效，黑枸杞含有大量的原花青素，从而具有很强的抗衰老作用。
      %section#gongxiao
        %h2.page-header 黑枸杞的功效与作用
        %p
          黑枸杞补肾益精，养肝明目，补血安神，生津止渴，润肺止咳，治肝肾阴亏，腰膝酸软，头晕，目眩，目昏多泪，虚劳咳嗽，消渴，遗精。
          %br
          黑果枸杞野生于高原大漠，其生长没有人的干预，也没有农药污染，是真正的纯天然绿色食品、是居家食用、馈赠亲友的高级滋补品。
          %br
          黑枸杞是天然补钴剂，钴对人体具有低毒和参与维生素B12组成和刺激造血的作用，黑果枸杞中钴的含量，远高于绿叶蔬菜的含量0.2～0.6ppm(干重)，但该浓度范围尚不会对人体构成毒害威胁，黑果枸杞具有作为单纯意义的补钴剂药物的作用。
          %br
          黑枸杞是添补镍剂，铬、镍也都是人体所必需的微量元素，但含量较高时会产生中毒现象，铬与人体中糖的代谢，脂质的代谢，蛋白质的合成，核酸代谢等有密切的关系。稀牌黑枸杞中铬的含量比正常牛奶中含量低(5～15ug/ml)，不会对人体产生中毒现象。镍在人体作为生物配体辅因子，促进肠内三价铁的吸收，黑果枸杞中镍的含量比谷物腌肉蔬菜(0.1～0.3μg/g)中的要高，但该浓度范围也不会对人体构成毒害威胁，因此黑果枸杞又具有作为单纯意义的补镍剂药物作用。
      %section#jiazhi
        %h2.page-header 黑枸杞营养价值
        %p 
          抗衰老、改善睡眠：抗衰老是黑枸杞最主要的功效之一，大量的花青素能够很好的抗氧化，消除人体自由基，具有显著的抗衰老的作用。花青素能穿越血脑屏障，可保护脑神经不被氧化，能稳定脑组织功能，保护大脑不受有害化学物质和毒素的伤害。食用黑枸杞中的花青素后，睡眠质量能得到显著提高。
          补肾益精、预防癌症：黑枸杞同红枸杞一样能够补肾益精，黑枸杞中的花青素（Anthocyanosides）有清除自由基的功效，亦可让癌细胞无法顺利扩散，借此保护更多健康的细胞免于被癌细胞侵蚀。像是乳腺癌的致病机制便是如此，因此服用花青素对于乳腺癌的发展会有很好的抑制作用 。
          护肝明目、增进视力：医学临床报告显示蓝莓中的花青素可促进视网膜细胞中视紫质（Rho dopsin）的再生成，可预防重度近视及视网膜剥离，并可增进视力。花色素可以提高在昏暗灯光下的视力，这对于夜间驾车者，长时间注视屏幕的人等都有帮助。
          改善循环、增强体质：花青素能够改善血液循环，恢复失去的微血管功效，加强脆弱的血管，因而使血管更具弹性。原花青素被称为“动脉粥样硬化的解毒药”。对于静脉功能不足者，原花青素能有效地减轻疼痛、浮肿、夜间痉挛等症状所以欧洲的医生通常会建议静脉曲张的病人食用富含花青素食品。
          防治糖尿病：黑果枸杞还可防治糖尿病，并具有明显的抗疲劳，保肝，还能抗肿瘤，疏通血管，降压，保护心血管系统作用。
          美容养颜、改善皮肤：可防止皮肤皱纹的提早生成，使肌肤更年轻、更有活力。它不但能防止皮肤皱纹的提早生成，更能补充营养及消除体内有害的自由基。花青素是天然的阳光遮盖物，能够阻止紫外线侵害皮肤，如果用花青素加以保护，则大约有 85% 的皮肤细胞可以幸免于难。

      %section#chi
        %h2.page-header 黑枸杞怎么吃
        %p
          很多的人在网上把黑枸杞买回来以后，有些商家的说明书上并没有介绍黑枸杞的吃法，但是很多人又是第一次买黑枸杞，所以并不知道黑枸杞怎么吃？一次泡几粒？
          %br
          黑枸杞泡水值得注意的是：水温不要超过50度，好的是用30度-50度的水泡
          %br
          黑枸杞泡水一帮可以放15-20粒，不要放太多。再倒入一次性被子装的那么多的水，按照这个比例泡水是比较合理的。
          %br
          黑枸杞好的是在早上泡一泡，冲2-3杯。晚上在泡一泡冲2-3杯。正常来说黑枸杞泡水喝一天不要超过40粒.有人会因为比较忙泡一杯黑枸杞忘记喝了，一杯黑枸杞泡的水好的是在2小时内喝完，超过2小时了好的不要在喝了。

      %section#jiage
        %h2.page-header 黑枸杞多少钱一斤
        %p 
          %strong 2018野生黑枸杞价格行情
          黑枸杞的价格，不同产地的黑枸杞价格不一样，然后就是黑枸杞按照个头大小分品级，零售价格比批发价格要贵不少。
          %br
          青海黑枸杞批发价 - 400元/斤
          %br
          新疆黑枸杞批发价 - 300元/斤
          %br
          甘肃黑枸杞批发价 - 200元/斤
          %br
          零售价为批发价的2-3倍
      %section#zi
        %h2.page-header 黑枸杞泡水的颜色
        %p 
          在弱酸性水（自来水）中，冲泡呈蓝色，在弱碱性水（矿物质水）中，冲泡呈紫色，浓度高时呈黑色。黑枸杞在热水中偏紫色，凉水中偏蓝色。这是由于花青素在水中溶解所产生的现象。
          %br
          即使是在同样的水质下，水温的变化也会造成冲泡颜色的变化。因为在热水状态下使水溶液中电离出的氢离子浓度增大根据溶液的ph值公式便可以知道，水随着温度的上升ph值下降。水的ph值大于7，则水质偏碱性；小于7，则水质偏酸。换句话说，热水偏碱，冷水偏酸。通常使用的酸碱指示剂“石蕊”，其性状为蓝紫色粉末，是从植物中提取得到的蓝色色素，能部分地溶于水而显蓝色。
          %br
          通常来说，北方的水质偏碱性；南方的水质偏酸性；所以黑枸杞在南方地区，浸泡出来的水会偏紫色，建议南方地区的人泡饮黑枸杞时，可适当选用碱性较强的水。当然，黑枸杞的颜色表现，并不影响黑枸杞花青素的吸收。只是最好的60度左右的水中浸泡，温度过高，会影响活性物质的释放。温度太低，黑枸杞中的多糖等成分不易释出，会影响口感，也就是我们在泡饮黑枸杞是感受到的那种淡淡的果香味。
        %img{src: "https://www.heigouqi1.cn/uploads/allimg/600400/heigouqi600400/a1(137).jpg", alt: "黑枸杞泡水的颜色"}
      %section#shihe
        %h2.page-header 黑枸杞不适合什么人喝
        %p 
          1.感冒发烧者
          %br
          2.腹泻患者
          %br
          3.多尿患者
          %br
          4.脾胃虚弱者

      %div#toTop ^
      .page-header
      %div
        %p
          %small
            %a{href: "#ps",data: {toggle: "collapse"}} + ps:
        #ps.collapse.in
          %p 
            %small
              更新于2018年#{Time.now.month}月#{Time.now.day}日
              %br
              内容整理自互联网。
              %br
              %a{href: "http://www.shikuaigou.com"} 十块购
              %br
              %a{href: "https://www.iquan.net"} 淘宝优惠券
              %br
              %a{href: "http://www.zhequan.cc"} 折券
              %br
              %a{href: "http://www.xiongmao123.com"} 熊猫优选
              %br
              %a{href: "http://www.gouwuzhinan.cn"} 购物指南
              %br
              %a{href: "http://www.flowlover.com"} 网红进口零食网


