- title '百香果(鸡蛋果)果汁之王_百香果【功效/作用/禁忌/营养价值/怎么吃】'
- keywords '百香果,鸡蛋果,鸡蛋果和百香果的区别,鸡蛋果的功效与作用,鸡蛋果的营养价值,鸡蛋果怎么吃,水果鸡蛋果,鸡蛋果多少钱一斤,鸡蛋果的功效和禁忌,百香果的籽可以吃吗,百香果一天吃几个最好'
- head_desc '百香果又叫鸡蛋果，果汁含量特别高，被大家称为【果汁之王】。本站为大家提供百香果(鸡蛋果)大家关注问题的解答：百香果和鸡蛋果的区别？百香果的吃法？百香果的功效与作用？百香果多少钱一斤？等等问题。有关百香果的各种信息查询，请看www.jidanguo.top'

.container
  .row
    = render partial: "jidanguo_left"
    .col-md-9#guize_content
      %section#jianjie
        %h1.page-header.hide 百香果(鸡蛋果) - 水果之王
        %h2.page-header 百香果(鸡蛋果)简介
        %p 
          百香果又名鸡蛋果，是西番莲科西番莲属的草质藤本植物，长约6米；茎具细条纹，无毛；花瓣5枚，与萼片等长；基部淡绿色，中部紫色，顶部白色，浆果卵球形，直径3～4厘米，无毛，熟时紫色；种子多数，卵形。花期6月，果期11月。
          %br
          鸡蛋果就是平常所说的百香果，有“果汁之王”的称号，有黄色和紫色两个品种；蛋黄果为橙黄色，果肉颜色接近蛋黄，故而得名。
          %br
          百香果逸生于海拔180～1900米的山谷丛林中。原产安的列斯群岛，广植于热带和亚热带地区。主要有紫果和黄果两大类。植株寿命约20年，经济寿命一般8至10年。
          %br
          百香果可生食或作蔬菜、饲料。入药具有兴奋、强壮之效。果瓤多汁液，加入重碳酸钙和糖，可制成芳香可口的饮料，还可用来添加在其他饮料中以提高饮料的品质。种子榨油，可供食用和制皂、制油漆等。花大而美丽，没有香味，可作庭园观赏植物。在中国以外的其他地区，鸡蛋果有“果汁之王”、“摇钱树”等美称。
        %img.img-responsive{src: "https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=155636647,862638038&fm=27&gp=0.jpg", alt: "百香果鸡蛋果"}
      %section#qubie
        %h2.page-header 鸡蛋果与百香果的区别
        %p
          鸡蛋果与百香果的区别？鸡蛋果是百香果的别名，这俩是同种水果。只是百香果有两个品种，黄果和紫果，其中黄果长得像鸡蛋，于是大家通常把黄色的百香果称为鸡蛋果。
          %br
          黄色鸡蛋果：特点：成熟时果皮亮黄色，果形较大，圆形，星状斑点较明显，单果平均80－100克。果汁含量高，可达45%，PH≈2.3。优点：黄色鸡蛋果生长旺盛，开花多、产量高，抗病力强。缺点：酸度大，香气淡，一般做工业原料 ，加工果汁，不适合鲜吃。
          %br
          紫色鸡蛋果：果形较小，鸡蛋形，星状斑点不明显，单果重40－60克，果汁香味浓、甜度高，适合鲜食，但果汁含量较低，平均30%。
      %section#gongxiao
        %h2.page-header 百香果的功效与作用
        %p
          食用百香果的好处：天然纯净、浓郁甘美、酸甜可口，生津止渴；提神醒脑、润肠通便，预防大肠癌；补肾健身、排毒养颜；解酒护肝、消除疲劳；对高血压、高血糖降低胆固醇有功效；口腔溃疡、牙周炎、咽喉炎有功效；对结肠炎、肠胃病有功效；调节血糖、有助预防糖尿病；形成强健骨骼、舒缓骨质疏松；提高人体免疫力，预防疾病。
          %br
          第一，鸡蛋果含有丰富的维生素、超纤维和蛋白质等上百种对人体非常有益的元素，而且口感跟香味都美到极致，可以增强人体抵抗力，提高免疫力，尤其小孩和孕妇吃了更是非常有助于身体发育和生长；
          %br
          第二，鸡蛋果中含有的超纤维可以进入人体肠胃里面非常微小的部位，进行深层次的清理和排毒，但是又不会对肠壁有任何损害的，有改善人体吸收功能、整肠健胃的功效；
          %br
          第三，因为鸡蛋果入体，可以增强消化吸收功能，使得人体排便正常，不会阻塞肠道，所以对于缓解便秘症状也非常有好处；
          %br
          第四，美容养颜，它不但含有丰富的营养，而且可以给人饱腹的感觉，从而让人减少对于其他高热量食物的摄入，有助于改善人体营养吸收结构，尤其其中含有的Vc，等都有美容养颜，抗衰老的作用。

          %br
          鸡蛋果治疗失眠，诱导自然入睡和深度睡眠，消除头痛，晕眩等现象；舒缓焦虑紧张、抑郁寡欢、神经紧张所引起的头痛、尿频、心慌；改善因神经紧张所引起的肌肉痉挛、抽搐、疼痛等；舒解神经紧张及极度焦虑所引起之所有不适感；改善情绪极度低落、精神过度焦虑。
      %section#jiazhi
        %h2.page-header 百香果营养价值
        %p 
          百香果(鸡蛋果)含有17种氨基酸，丰富的蛋白质、脂肪、糖、维生素、钙、磷、铁、钾、SOD酶和超纤维等165种对人体有益物质，更被称为水果中的VC（维生素）之王，口感独特。
      %section#shuangda
        %h2.page-header 百香果怎么吃
        %p
          百香果怎么吃？鸡蛋果可直接鲜食，将百香果剖开，用调羹挖出瓤包直接食用，籽可食用，富含高级蛋白，高级脂肪。
          %br
          也可以将鸡蛋果制成果汁，取一个百香果，切开，用勺子将果肉舀入杯中，加水，加少许白糖、蜂蜜等调整甜度，搅拌即可得一杯色、香、味俱佳的营养果汁。
          %br
          果壳除了用于提取果胶、医药成份和加工饲料外，也可用于泡酒或泡茶，以及烹饪菜肴。泡茶：将果子一分为二，放入杯子，再放入冰糖，用沸水泡6分钟。高汤提味：将整个果子洗净后放入高汤，可以将汤的鲜味提出，令高汤口感更佳。

      %section#jiage
        %h2.page-header 百香果多少钱一斤
        %p 
          %strong 2018百香果价格行情
          如果是在两广地区的市场上买价格就在六七块一斤左右，如果是外地的加上运费就会达到十块一斤这样，直接包邮邮寄也差不多这个价。
          %br
          在淘宝购买，选择合适的店铺，有按个出售，也有按斤出售的。
          悠汇园百香果2个装：19元;
          世果汇百香果12个装：38元;
          十记庄园百香果18个装：39.9元;
          彩食集特级百香果4斤：55元;
          世果汇百香果3斤：49元;
          悠乐果百香果2斤：59元。
      %section#zi
        %h2.page-header 百香果的籽可以吃吗
        %p 百香果的籽可以吃吗？百香果的籽是和果肉在一起的，那么，如果要把百香果的籽和肉分开的话，会比较麻烦，因此，百香果的自己是可以吃的，而且不会给我们的身体带来任何的伤害哦!因此您在平时吃的时候不必过于担心哦!
      %section#baocun
        %h2.page-header 百香果怎么保存
        %p 百香果不宜密封保存，可冰箱保鲜，不宜冻，最好将果裸放通风干爽处方不易变质。果壳出现凹陷、干瘪属正常现象，果瓤却更加香甜。
      %section#jige
        %h2.page-header 百香果一天吃几个最好
        %p 百香果适合在夏季食用，一般一天食用2-3个就可以了。
      %section#yunfu
        %h2.page-header 孕妇能吃百香果吗
        %p 
          孕妇是可以吃百香果的。孕妇食用百香果可以增强免疫力，缓解便秘，安定情绪，镇定安神，既补充了营养，也帮助休息养神。
          %br
          百香果是天然的镇定剂，松弛、镇定神经效果特佳;还能治疗失眠，诱导自然入睡和深度睡眠，消除头痛，晕眩等现象;舒缓焦虑紧张、抑郁寡欢、神经紧张所引起的头痛、胃 痛、尿频、心慌;改善因神经紧张所引起的肌肉痉挛、抽搐、疼痛等;舒解神经紧张及极度焦虑所引起之所有不适感;改善情绪极度低落、精神过度焦虑;治疗气郁症，舒解胀气，帮助消化。
      %section#baobao
        %h2.page-header 宝宝能吃百香果吗
        %p 
          宝宝可以吃百香果吗？当然可以，不过宝宝出生后六个月大时比较适合吃百香果。因为宝宝太小的话，百香果可能伤害到宝宝的肠胃。
          %br
          由于婴幼儿肠道功能不健全，肠道蠕动的调节也尚未成熟，分泌物和酶类相对不足，所形成的肠内菌群很容易被破坏而导致菌群失调，因此婴幼儿常发生腹泻、消化不良、便秘、食欲不振、肠炎等疾病。因此，宝宝月龄到六个月后比较适合吃百香果。不过宝宝六个月大时也不宜吃太多百香果，少量的吃，可随着宝宝月龄的增加来增加百香果的食用量，避免吃太多刺激到宝宝娇嫩的肠胃。
      %section#paoshui
        %h2.page-header 百香果泡水的正确方法
        %p 
          1.柠檬、小青桔切片。
          %br
          2.取一个百香果，百香果切开，取内瓤，放入瓶内。
          %br
          3.挤出青桔汁入瓶内，放入柠檬片。
          %br
          4.倒入温水冲调，加入适量蜂蜜即可。

      %div#toTop ^
      .page-header
      %div
        %p
          %small
            %a{href: "#ps",data: {toggle: "collapse"}} + ps:
        #ps.collapse.in
          %p 
            %small
              更新于2018年#{Time.now.month}月#{Time.now.day}日
              %br
              内容整理自互联网。
              %br
              %a{href: "http://www.shikuaigou.com"} 十块购
              %br
              %a{href: "https://www.iquan.net"} 淘宝优惠券
              %br
              %a{href: "http://www.zhequan.cc"} 折券
              %br
              %a{href: "http://www.xiongmao123.com"} 熊猫优选
              %br
              %a{href: "http://www.gouwuzhinan.cn"} 购物指南
              %br
              %a{href: "http://www.flowlover.com"} 网红进口零食网


