- title "Badminton Q&A"
- keywords "Badminton Q&A"
- head_desc "Here is a collection of skills, tactics, and precautions for all aspects of badminton. It is updated daily. Badminton enthusiasts are welcome to view and leave messages."
- path("/en/answer/")
- mobile_url("http://www.vxixi.com/en/answer/")

%section.container
  .row
    %article.col-md-10
      %h1.title.hide Badminton Q&A
      - @articles.each do |article|
        .row
          .col-md-12
            %a{href: "/en/answer/#{article.id}/", title: "#{article.title}"}
              %h2.title #{article.title}
      #toTop ^
      .page-header
      #SOHUCS
      .page-header

    %aside
      = render partial: "layouts/ad_right" 
