<table class="table table-bordered">
  <thead>
    <tr><th>
        比赛进程的说明
      </th>
      <th style="width:50px;text-align:center">
        比分
      </th>
      <th>
        发球区
      </th>
      <th>
        发球&接发
      </th>
      <th style="width:60px;text-align:center">
        获胜方
      </th>
      <th>
        图解
      </th>
  </tr></thead>
  <tbody>
    <tr>
      <td>比赛开始</td>
      <td width="35px" style="text-align:center">0  -  0</td>
      <td>右侧半场发球</td>
      <td>A发球，C接发球</td>
      <td width="40px">A &amp; B</td>
      <td><img alt="羽毛球比赛规则 图解1" src="/images/yumaoqiu1.gif"></td>
    </tr>
    <tr>
      <td>A &amp; B 得一分，A &amp; B 将换边， A在左侧半场继续发球， C &amp; D 保持各自所在半场不变。</td>
      <td style="text-align:center">1  -  0</td>
      <td>左侧半场发球</td>
      <td>A发球，D接发球</td>
      <td>C &amp; D</td>
      <td><img alt="羽毛球比赛规则 图解2" src="/images/yumaoqiu2.gif"></td>
    </tr>
    <tr>
      <td>C &amp; D 得一分，A B C D 均保持各自所在半场不变。</td>
      <td style="text-align:center">1  -  1</td>
      <td>左侧半场发球</td>
      <td>D发球，A接发球</td>
      <td>A &amp; B</td>
      <td><img alt="羽毛球比赛规则 图解3" src="/images/yumaoqiu3.gif"></td>
    </tr>
    <tr>
      <td>A &amp; B 得一分，在右半场发球，A B C D 均保持各自所在半场不变。</td>
      <td style="text-align:center">2  -  1</td>
      <td>右侧半场发球</td>
      <td>B发球，C接发球</td>
      <td>C &amp; D</td>
      <td><img alt="羽毛球比赛规则 图解4" src="/images/yumaoqiu4.gif"></td>
    </tr>
    <tr>
      <td>C &amp; D 得一分，在右半场发球，A B C D 均保持各自所在半场不变。</td>
      <td style="text-align:center">2  -  2</td>
      <td>右侧半场发球</td>
      <td>C发球，B接发球</td>
      <td>C &amp; D</td>
      <td><img alt="羽毛球比赛规则 图解5" src="/images/yumaoqiu5.gif"></td>
    </tr>
    <tr>
      <td>C &amp; D 得一分， C &amp; D 将换边， C 在左侧半场继续发球， A &amp; B 保持各自所在半场不变。</td>
      <td style="text-align:center">2  -  3</td>
      <td>左侧半场发球</td>
      <td>C发球，A接发球</td>
      <td>A &amp; B</td>
      <td><img alt="羽毛球比赛规则 图解6" src="/images/yumaoqiu6.gif"></td>
    </tr>
    <tr>
      <td>A &amp; B 得一分，在左半场发球，A B C D 均保持各自所在半场不变。</td>
      <td style="text-align:center">3  -  3</td>
      <td>左侧半场发球</td>
      <td>A发球，C接发球</td>
      <td>A &amp; B</td>
      <td><img alt="羽毛球比赛规则 图解7" src="/images/yumaoqiu7.gif"></td>
    </tr>
    <tr>
      <td>A &amp; B 得一分，A &amp; B 将换边， A在右侧半场继续发球， C &amp; D 保持各自所在半场不变。</td>
      <td style="text-align:center">4  -  3</td>
      <td>右侧半场发球</td>
      <td>A发球，D接发球</td>
      <td>C &amp; D</td>
      <td><img alt="羽毛球比赛规则 图解8" src="/images/yumaoqiu8.gif"></td>
    </tr>
  </tbody>
</table>
