.common-bottom
  %p.t1 有什么好的意见与建议
  %p.t2 提给我们吧
  %a{href: "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?id=1187844881&pageNumber=0&sortOrdering=2&type=Purple+Software&mt=8", data:{no:{turbolinks: true}}, target: "_blank"}
    .c-btn
      .mid
        .inner 立即评论

  .slogan
    %p.t2 羽球成神之路 - 与您相伴

