- title @title

.container
  .row
    .col-sm-12.col-xs-12{style: "padding:0"}
      .sale_search-area
        .sale_inner
          %i
          %input#search_fuli.sale_search-input{placeholder: "#{@keyword}"}

    #need_taobao_convert_url
    #article_list.col-sm-12.col-xs-12{style: "padding:0;margin-top:50px"}
      = render partial: "search_tbk_list", locals: {items: @items}
