.col-md-2.hidden-sm.hidden-xs#ad_right
  .affix
    %p
      %a{href: "http://www.iquan.net", target: "_blank", title: "内部优惠券"}
        %img{style: "width: 200px;padding-top:5px", src: "http://www.vxixi.com/gaoxiao_shouye.gif", alt:"羽毛球最新比赛规则"}
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/pai1.png"}
      &nbsp
      %a{href: "http://www.iquan.net/zhekou/yy%E7%BE%BD%E6%AF%9B%E7%90%83%E6%8B%8D/tejia/", target: "_blank"}
        %ins
          入门级羽毛球拍
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/qiu2.png"}
      &nbsp
      %a{href: "http://www.iquan.net/zhekou/%E7%BE%BD%E6%AF%9B%E7%90%83%E8%80%90%E6%89%93%E7%8E%8B/", target: "_blank"}
        %ins
          超耐打训练用球
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/xie3.png"}
      &nbsp
      %a{href: "http://www.iquan.net/zhekou/%E5%B0%A4%E5%B0%BC%E5%85%8B%E6%96%AF%E7%BE%BD%E6%AF%9B%E7%90%83%E9%9E%8B/", target: "_blank"}
        %ins
          尤尼克斯羽球鞋
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/fu4.png"}
      &nbsp
      %a{href: "http://www.iquan.net/zhekou/%E6%9D%8E%E5%AE%81%E7%BE%BD%E6%AF%9B%E7%90%83%E6%9C%8D%E8%A3%85/", target: "_blank"}
        %ins
          李宁羽毛球服装
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/tao5.png"}
      &nbsp
      %a{href: "http://www.iquan.net/zhekou/%E7%BE%BD%E6%AF%9B%E7%90%83%E5%A5%97%E8%A3%85/", target: "_blank"}
        %ins
          羽球训练用套装
