.col-md-2.hidden-sm.hidden-xs#ad_right
  .affix
    %p
      %a{href: "https://www.iquan.net", target: "_blank"}
        %img{style: "width: 200px;padding-top:5px", src: "http://www.vxixi.com/xcx.jpg"}
    %p Escanee en WeChat para obtener la herramienta de puntuación de bádminton
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/pai1.png"}
      &nbsp
      %a{href: "http://www.uuhaodian.com/query/yy%E7%BE%BD%E6%AF%9B%E7%90%83%E6%8B%8D/", target: "_blank"}
        %ins
          Raqueta de bádminton de nivel básico
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/qiu2.png"}
      &nbsp
      %a{href: "http://www.uuhaodian.com/query/%E7%BE%BD%E6%AF%9B%E7%90%83%E8%80%90%E6%89%93%E7%8E%8B/", target: "_blank"}
        %ins
          Balón de entrenamiento súper duradero
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/xie3.png"}
      &nbsp
      %a{href: "http://www.uuhaodian.com/query/%E5%B0%A4%E5%B0%BC%E5%85%8B%E6%96%AF%E7%BE%BD%E6%AF%9B%E7%90%83%E9%9E%8B/", target: "_blank"}
        %ins
          Zapatos de bádminton Yonex
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/fu4.png"}
      &nbsp
      %a{href: "http://www.uuhaodian.com/query/%E6%9D%8E%E5%AE%81%E7%BE%BD%E6%AF%9B%E7%90%83%E6%9C%8D%E8%A3%85/", target: "_blank"}
        %ins
          Ropa de bádminton de Li Ning
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/tao5.png"}
      &nbsp
      %a{href: "http://www.uuhaodian.com/query/%E7%BE%BD%E6%AF%9B%E7%90%83%E5%A5%97%E8%A3%85/", target: "_blank"}
        %ins
          Conjunto de entrenamiento de bádminton
