.col-md-2#ad_right
  .affix
    %p
      %a{href: "http://ai.taobao.com/search/index.htm?key=%E7%BE%BD%E6%AF%9B%E7%90%83%E6%8B%8D&pid=mm_32854514_4324027_21350252", rel: "nofollow", target: "_blank"}
        %img{style: "width: 200px;padding-top:5px", src: "http://www.vxixi.com/gaoxiao_shouye.gif", alt:"羽毛球最新比赛规则"}
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/pai1.png"}
      &nbsp
      %a{href: "http://s.click.taobao.com/t?e=m%3D2%26s%3DrmUAhrI4l5McQipKwQzePOeEDrYVVa64K7Vc7tFgwiHjf2vlNIV67g4JtqE49sIi%2BvZA5LFGqMTVyjt8n9B79UHz5qz%2FWU7IGFCtZou%2FvvVAyk6EQsjmuxYBATJari%2FMFy4IZxOcEohaVY7OknSrejLX8EKLk%2B6o&pvid=10_124.65.222.38_196185_1476009285869", rel: "nofollow", target: "_blank"}
        %ins
          入门级羽毛球拍
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/qiu2.png"}
      &nbsp
      %a{href: "http://s.click.taobao.com/t?e=m%3D2%26s%3DljhYZuyfVxUcQipKwQzePOeEDrYVVa64K7Vc7tFgwiHjf2vlNIV67qXyn0f7952Q2Y%2Bdtp35ZprVyjt8n9B79UHz5qz%2FWU7IGFCtZou%2FvvWtoAeR66zqaJQYUk6wN9le8v5XPGCNToGVqXaLNAOtjtwR6yikgMNkomfkDJRs%2BhU%3D&pvid=10_124.65.222.38_326_1476009388468", rel: "nofollow", target: "_blank"}
        %ins
          超耐打训练用球
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/xie3.png"}
      &nbsp
      %a{href: "http://s.click.taobao.com/t?e=m%3D2%26s%3DVjF4VW2yZ9scQipKwQzePOeEDrYVVa64K7Vc7tFgwiHjf2vlNIV67qXyn0f7952QaNWmle4rCMzVyjt8n9B79UHz5qz%2FWU7IGFCtZou%2FvvUGnK1GG8q4xSISb3UDThzhR1vdRbvMIqRQdj1Y278ycdSC2NYw2qah&pvid=10_124.65.222.38_11840_1476009484993", rel: "nofollow", target: "_blank"}
        %ins
          尤尼克斯羽球鞋
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/fu4.png"}
      &nbsp
      %a{href: "http://s.click.taobao.com/t?e=m%3D2%26s%3DzpwYA4R1qvwcQipKwQzePOeEDrYVVa64K7Vc7tFgwiHjf2vlNIV67sy6EneR6gIOWI6w0dMGH8jVyjt8n9B79UHz5qz%2FWU7IGFCtZou%2FvvUkU4mCSMMN1MXWvaxSTAMXlrfKbc84rldx6hCsYr8T2ZAnyDRUAktfxiXvDf8DaRs%3D&pvid=10_124.65.222.38_11867_1476009550096", rel: "nofollow", target: "_blank"}
        %ins
          李宁羽毛球服装
    %p
      &nbsp
      %img.img-circle{src: "http://www.vxixi.com/tao5.png"}
      &nbsp
      %a{href: "http://s.click.taobao.com/t?e=m%3D2%26s%3Dzkdwax5E0JQcQipKwQzePDAVflQIoZepK7Vc7tFgwiFRAdhuF14FMTWcQKNxI2Yt1aH1Hk3GeOjWxZ%2FQfj0hEkSso%2BCVB63rLrJQZaWtacUQtZev5cR5bl3uVoN2Hg29cSpj5qSCmbA%3D", rel: "nofollow", target: "_blank"}
        %ins
          羽球训练用套装
