%footer.container{style: "margin-top: 20px;background-color: #fff;"}
  .row
    .col-md-12
      %p.text-center.small{style: "padding: 20px 0;"}
        友情链接：
        %a{href: "https://www.uuhaodian.com", target: "_blank"} 京东优惠券
        %a{href: "https://www.iquan.net", target: "_blank"} 淘宝优惠券
        %a{href: "http://www.xiongmao123.com", target: "_blank"} 黑白装饰画
        %a{href: "http://www.jidanguo.top", target: "_blank"} 百香果的功效与作用
        %a{href: "http://www.gouwuzhinan.cn", target: "_blank"} 购物指南
        %a{href: "http://www.17430.com.cn", target: "_blank"} 便宜网购商城
        %a{href: "http://www.ddzhusu.com", target: "_blank"} 特色民宿客栈
        %a{href: "http://gaotie.ddzhusu.com", target: "_blank"} 滴滴高铁
        %a{href: "http://dongche.ddzhusu.com", target: "_blank"} 滴滴动车
        %a{href: "http://huoche.ddzhusu.com", target: "_blank"} 滴滴火车
        %a{href: "http://flight.ddzhusu.com", target: "_blank"} 滴滴航班
        %br
        www.vxixi.com - 为您提供羽毛球相关信息，助力您提高羽毛球水平！
