<header>
<nav class="navbar navbar-default header-nav">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header_nav" aria-expanded="false">
      <span class="sr-only">导航栏</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">羽毛球比赛规则</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="header_nav">
    <ul class="nav navbar-nav">
      <li><a href="http://www.iquan.net" title="内部优惠券" target="_blank">内部优惠券</a></li>
      <li><a href="/video/list">羽毛球视频</a></li>
      <li><a href="/article/">羽毛球技巧</a></li>
      <li><a href="http://www.iquan.net/lanlan_dowload/" target="_blank">好省APP下载 - 省钱利器</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
</header>
