.col-md-2#related_right
  .affix
    %p
      %a{href: "https://www.iquan.net", rel: "nofollow", target: "_blank"}
        %img{style: "width: 200px;padding-top:5px", src: "http://www.vxixi.com/xcx.jpg", alt:"羽毛球最新比赛规则"}
    %p 微信扫一扫,获取羽毛球计分神器
    %p
      %a{href: "//shang.qq.com/wpa/qunwpa?idkey=2108047919597f47df6d3528e723ddd19917a44de1d75cbbac17ff8ffa059330", target: "_blank", rel: "nofollow", title: "羽毛球新手交流群"} 
        %img{src: "//pub.idqqimg.com/wpa/images/group.png", style: "border:0"}
    %p{style: "margin-top: 20px;"}
      %a{href: "/yumaoqiu/11.html", title: "李宁超轻高磅羽毛球对拍"}
        %img{src: "https://img20.360buyimg.com/mobilecms/jfs/t1/62698/31/9562/126948/5d732bdaE9686dece/13f7fa6340c02e2e.JPG!q70.jpg", style: "width: 70%;"}
